Source: emerald-themes
Section: x11
Priority: optional
Maintainer: Manuel Evano <reggaemanu@beryl-project.org>
Build-Depends: debhelper (>= 4.0.0), autotools-dev
Standards-Version: 3.7.2

Package: emerald-themes
Architecture: any
Replaces: cgwd-themes
Depends: emerald (>= 0.1)
Description: Package of themes for Emerald
 Many preset themes for Emerald
